obj
bin
deploy
deploy/*
temp/
*.user
*.resharper
*.suo
*.cache
~$*.DS_Store
.DS_Store
._*
examples/self_test
!gem/bin/*
gem/pkg/*
*.gem
TestResult.xml
.idea
*.swp
Coypu*.zip
chromedriver.log
Coypu-*.wrap
src/packages
out
target
